@charset "UTF-8";
.jqcSelectboxHooks {
    background-image: url("images/selectbox-filter.png");
    background-repeat: no-repeat;
    background-position: 2px;
    text-indent: 18px;
}

.jqcSelectboxContainer {
    position: absolute;
    z-index: 200;
    font-size: 12px;
}

.jqcSelectboxOperationBar {
    margin: 0 0 3px 0;
    background-color: #FFFFFF;
}

.jqcSelectboxContainer button {
    padding: 3px 9px;
    margin: 0 0 0 3px;
    letter-spacing: 1px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
    color: #686868;
    -moz-padding-start: 6px;
    -moz-padding-end: 6px;
}

.jqcSelectboxContainer button:hover {
    color: #000000;
}

.jqcSelectboxContainer input {
    padding: 5px;
    border-width: 1px;
}

.jqcSelectboxContainer input:focus {
    box-shadow: 0 0 3px rgba(237, 28, 36, 0.8);
    border: 1px solid #ED1C24;
    outline: none;
}

.jqcSelectboxContainer ul {
    list-style: none;
    padding: 3px 0 0 0;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px rgba(73, 73, 73, 0.6);
    border-radius: 3px;
    max-height: 268px;
    overflow: auto;
}

.jqcSelectboxOptions {
    float: left;
}

.jqcSelectboxSelectedOption {
    float: right;
    list-style-position: inside !important;
    list-style-image: url('images/selectbox-check.png') !important;
    border: none;
}

.jqcSelectboxContainer li {
    padding: 5px;
    cursor: pointer;
}

.jqcSelectboxContainer li:hover,
.jqcSelectboxSelected {
    background-color: #ED1C24;
    color: #FFFFFF;
}

.jqcSelectboxSelectedOption li:hover {
    list-style-image: url('images/selectbox-delete.png') !important;
    background-color: #F5F5F5;
    color: #686868;
}