@charset "UTF-8";
body {
    font-family: Simsun, Microsoft YaHei, Arial, sans-serif;
    color: #262626;
    padding: 15px;
    font-size: 14px;
}

.title {
    font-size: 32px;
}

section {
    margin: 15px 0 15px 0;
}

.sectionTitle {
    width: 100%;
    background-color: #b5b5b5;
    padding: 10px;
    border-radius: 5px;
    font-size: 23px;
}

.exampleTitle {
    width: 100%;
    background-color: #e5e5e5;
    padding: 10px;
    margin: 0 0 16px 0;
    border-radius: 5px;
}

section ul {
    list-style-position: inside;
    margin: 12px 0 0 2em;
    padding: 0;
}

section p {
    text-indent: 2em;
}

section td,
section th {
    padding: 5px;
}